body {
  text-align: center;
  font-family: "Mulish";
  background-color: #ebd4ac;
  margin-top: 1rem;
}

h1 {
  -webkit-text-stroke: .5px #e9629c;
  color: rgb(221, 66, 66);
}

button:hover {
  opacity: 1;
  transition: transform 0.4s ease, opacity 0.3s ease;
  color: rgb(194, 147, 147);
  background-color: white;
}


.yes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px; /* growth buffer space */
}


.yes-btn,
.no-btn {
  margin: 10px 20px;
  top: 5rem;
  margin-bottom: 15rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
  transition: transform 0.4s ease, opacity 0.3s ease, background-color 0.3s ease;
}

#bow-img {
  margin-top: 5rem;
}

.yes-btn,
.no-btn {
  background-color: rgb(194, 147, 147);
  color: white;
}

.carousel {
  position: relative;
  width: 90%;
  max-width: 600px;
  aspect-ratio: 4 / 3; 
  margin: 3rem auto;
  overflow: hidden;
  border-radius: 15px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel img.active {
  opacity: 1;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 5rem;
}